pytest==8.3.4
pytest-cov==6.0.0
pydocstyle==6.3.0
flake8==7.1.1
flake8-2020==1.8.1
flake8-blind-except==0.2.1
flake8-bugbear==24.10.31
flake8-builtins==2.5.0
flake8-comprehensions==3.16.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-polyfill==1.0.2
flake8-print==5.0.0
flake8-quotes==3.4.0
flake8-string-format==0.3.0
flake8-todo==0.7
mypy==1.13.0
safety==3.2.13
flake8-eradicate==1.5.0
flake8-fixme==1.1.1
flake8-annotations-complexity==0.1.0
flake8-variables-names==0.0.6
-e .
flake8-broken-line==1.0.0
flake8-tidy-imports==4.11.0
flake8-typing-imports==1.16.0
dlint==0.16.0
flake8-if-statements==1.0.0
flake8-functions==0.0.8
flake8-annotations-coverage==0.0.6
flake8-expression-complexity==0.0.11
packaging==24.2
