pytest==5.4.1
pytest-cov==2.6.1
flake8==3.7.9
flake8-blind-except==0.1.1
flake8-bugbear==20.1.4
flake8-builtins==1.5.2
flake8-commas==2.0.0
flake8-comprehensions==3.2.2
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-polyfill==1.0.2
flake8-print==3.1.4
flake8-quotes==3.0.0
flake8-string-format==0.3.0
flake8-per-file-ignores==0.6
flake8-todo==0.7
mypy==0.790
pydocstyle==5.0.2
safety==1.9.0
flake8-2020==1.6.0
flake8-eradicate==0.3.0
flake8-fixme==1.1.1
# flake8-annotations-complexity==0.0.6
git+git://github.com/best-doctor/flake8-annotations-complexity.git@v0.0.6
flake8-variables-names==0.0.3
flake8-class-attributes-order==0.1.0
flake8-broken-line==0.2.0
flake8-tidy-imports==4.1.0
flake8-typing-imports==1.9.0
dlint==0.10.3
flake8-if-statements==0.1.0
flake8-functions==0.0.4
flake8-annotations-coverage==0.0.4
flake8-expression-complexity==0.0.7
